@model IEnumerable<MVC_EF.Models.Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Registrations</h2>

<div class="container">
    <table class="table">
        <tr>
            <th>
                <h4>Registration Date:</h4>
            </th>
            <th>
                <h4>Course:</h4>
            </th>
            <th>
                <h4>First Name:</h4>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
            </tr>
        }
    </table>
</div>