@model IEnumerable<MVC_EF.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 25rem; float:left;">
            <div class="col-sm">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </li>
                    <li class="list-group-item">
                        <span>Term: </span>@Html.DisplayFor(modelItem => item.TermCode)
                    </li>
                    <li class="list-group-item">
                        <span>CRN: </span>@Html.DisplayFor(modelItem => item.CourseNumber)
                    </li>
                </ul>
            </div>
        </div>
    }
</div>