@model IEnumerable<MVC_EF.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>

<div class="container">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", new { id = item.StudentID })">
            <div class="card" style="width: 25rem; float:left;">
                <div class="list-group-item">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName)</h4>
                    <span>Favorite color:</span><p class="card-text">@Html.DisplayFor(modelItem => item.FavoriteColor)</p>
                </div>
            </div>
        </a>
    }
</div>